* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
  
body{
  background: #1a1a1a0a;
}

#piano{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
  
li {
  list-style: none;
  position:relative;
  float:left

}


ul .white{
  height: 6rem;
  width: 2rem;
  border: 1px solid black;
  position: relative;
  z-index: 1;
}


.sharp{
  position: relative;
  z-index: 2;
  height: 3rem;
  top: -0rem;
  width: 1.5rem;
  border: 1px solid black;
}

/* Sheet.js */


#sheetSection{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: relative;
  right: 7rem;
}

#clef{
  height: 10rem;
  position: relative;
  left: 5rem;
}

#sheet{
  height: 10rem;
  width: 20rem;
  display: flex;
  /* background-color: rgba(255, 235, 205, 0.289); */
}

#sheetBackground{
  position: absolute;

  z-index: 0;
  height: 10rem;
  width: 20rem;
}

#steetLine1, #steetLine2, #steetLine3, #steetLine4, #steetLine5{
  position: relative;
  z-index: 15;
  border-bottom: 1px solid black;
  height: 1.5rem;
}

#column1{
  margin-left: 2rem;
}

#column1,#column2, #column3, #column4, #column5, #column6, #column7, #column8, #column9, #column10, #column11, #column12, #column13, #column14 {
  display: flex;
  flex-direction: column;
  margin-top: 3.19rem;
  position: relative;
}

.note{
  width: 1rem;
  opacity: .09;
  height: .75rem;
  border: none;
  background: none;
  transform: scale(.8);
  position: relative;
  z-index: 2;
  /* background: rebeccapurple; */
  margin-right: .5rem;
} 

/* .quater{
  position: relative;
  bottom: 3.3rem;
  right: .4rem;
  z-index: 1;
  right: 1rem;
}

.quaterImg{
  position: absolute;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
} */

